.section__about {
    background-color: #F9F8F8;
}

.about__container {
    padding-top: 130px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.about__bg {
    max-width: 675px;
}

.about__content {
    max-width: 675px;
}

.about__content p {
    margin-top: 22px;
}

.about__advantages,
.about__content p {
    margin-bottom: 30px;
}

.about__button {
    margin-top: 20px;
}

.about__advantages {
max-width: 675px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.advantages__icon {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.advantages__icon-img--top {
    width: 53px;
}

.advantages__icon-img--bottom {
    width: 56px;
}

.advantages__description {
    max-width: 552px;
}

.advantages__description h4 {
    font-size: 25px;
    font-weight: normal;
    line-height: 35px;
    color: #274C5B;
}

.advantages__description p {
    margin-bottom: 0;
    margin-top: 9px;
}